#login-screen, #main-chat-screen {
  padding-top: 10px;
}
.main {
  padding-top: 10px;
  text-align: center;
}
#conversation {
  font-size: 18px;
  margin: 0px;
  height: 500px;
  width:100%;
  border:2px solid #aaa;
  overflow: auto;
}
.final {
  font-color: #000;
}
.interim {
  font-color: #f00;
}
#msgs li{padding:5px 0px 0px 10px;}
#msgs li:nth-child(odd){background:#efefef;}